---
import Layout from "../layouts/Layout.astro";
import Image from 'astro/components/Image.astro'
import ChangeBilboard from "../components/ChangeBilboard.astro"

import aboutHeaderPhoto from "../images/webp/aboutHeaderPhotoTossingPaper.webp";
import stuffPhoto from "../images/webp/aboutStuffPhoto.webp"

---
<Layout title="O nas">
    <div class="header-container fourklock">
        <h1 class="header unset-margins primary desktop-display">
            Nasze zajęcia są efektem przemyśleń, poszukiwań i eksperymentów. 
        </h1>
        <h3 class="header unset-margins primary mobile-display">
            Nasze zajęcia są efektem przemyśleń, poszukiwań i eksperymentów. 
        </h3>
        <Image class="header-photo" src={aboutHeaderPhoto} alt="Pani Agnieszka" />
    </div>

    <div class="stuff fourklock">
        <h3 class="stuff-header primary">
            Znaczna część pomysłów jest autorska, przygotowana przez lektorów specjalnie i jedynie dla naszych uczniów.
        </h3>
        <div class="stuff-container">
            <Image class="stuff-photo" src={stuffPhoto} alt="zdjęcie przedstawiające skład zespołu" />
            <div class="stuff-inner-container">
                <p>
                    Kładziemy duży nacisk na ciągłe doskonalenie umiejętności nauczania języka angielskiego opierając się na najnowszych badaniach z zakresu neuropedagogiki. Do współpracy zawsze szukamy nauczycieli ciekawych świata i otwartych na młodych ludzi, aby mieć gwarancję, że zatroszczą się o wszystkie aspekty procesu nauczania. Uczymy się od siebie nawzajem, a naszą pasją jest wyszukiwanie coraz ciekawszych i bardziej angażujących materiałów do nauki. Staramy się ograniczać korzystanie z mediów podczas zajęć, aby uczniowie skupiali się na wzajemnych relacjach i interakcjach w świecie rzeczywistym, gdzie istotne są umiejętności porozumiewania się i empatia. Kreatywność, komunikacja, krytyczne myślenie i współpraca to nasze supermoce, którymi staramy się zarażać naszych uczniów. Zajęcia prowadzimy w domowej atmosferze w salach, których wystrój nie przypomina tradycyjnej klasy szkolnej. Spotykamy się raz w tygodniu, szanując czas rodziców i wierząc, że młody człowiek nie powinien być przeciążony.
                </p>
                <div class="stuff-buttons">

                    <a href="/modules" class="btn elev icon-btn">
                        Poznaj nasze zajęcia
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.13125 7.55684L4.93125 11.7568L6 12.8068L12 6.80684L6 0.806839L4.93125 1.85684L9.13125 6.05684H0V7.55684H9.13125Z" fill="#EBECF2"/>
                        </svg>
                    </a>
                    <a href="/contact" class="btn icon-btn out">
                        Skontaktuj się z nami
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.41333 6.00017C3.37333 7.88684 4.92 9.42684 6.80667 10.3935L8.27333 8.92684C8.45333 8.74684 8.72 8.68684 8.95333 8.76684C9.7 9.01351 10.5067 9.14684 11.3333 9.14684C11.7 9.14684 12 9.44684 12 9.81351V12.1402C12 12.5068 11.7 12.8068 11.3333 12.8068C5.07333 12.8068 0 7.73351 0 1.47351C0 1.10684 0.3 0.806839 0.666667 0.806839H3C3.36667 0.806839 3.66667 1.10684 3.66667 1.47351C3.66667 2.30684 3.8 3.10684 4.04667 3.85351C4.12 4.08684 4.06667 4.34684 3.88 4.53351L2.41333 6.00017Z"/>
                          </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bilboard-container fourklock">
        <ChangeBilboard/>
    </div>
</Layout>

<style>
.header-container {
    padding: var(--page-padding-top) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
}

.header {
    margin-bottom: 2.5rem;
}

.header-photo {
    width: 100%;
    height: 50dvh;
    object-fit: cover;
    object-position: 50% 65%;
    border-radius: 3rem;
}

.stuff-photo {
    border-radius: 1.5rem;
    width: 100%;
    height: 90%;
    object-fit: cover;
    align-self: flex-end;
}

.stuff {
    padding: var(--section-spacing) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    /* width: ?; */
}

.stuff-header {
    width: 75%;
}

.stuff-container {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7.9375rem;
}

.stuff-buttons {
    display: flex;
    margin-top: 2.5rem;
    flex-direction: row;
    gap: var(--separator-m);
}

.bilboard-container {
    padding: var(--section-spacing) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    /* width: 100dvw; */
}

@media only screen and (max-width: 40rem) {
    .stuff-container {
        grid-template-columns: 1fr;
        gap: 1.875rem;
    }

    .stuff-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .stuff-buttons > a {
        font-size: 0.7rem;

    }

    .header {
        margin-bottom: 1.875rem;
    }

    .stuff-header {
        width: 100%;
    }
}
</style>

