---
import Layout from "../layouts/Layout.astro";
import Image from 'astro/components/Image.astro'
import ChangeBilboard from "../components/ChangeBilboard.astro"

import aboutHeaderPhoto from "../images/webp/aboutHeaderPhotoTossingPaper.webp";
import stuffPhoto from "../images/webp/aboutStuffPhoto.webp"

---
<Layout title="About">
    <div class="header-container fourklock">
        <h1 class="header unset-margins primary desktop-display">
            Nasze zajęcia są efektem przemyśleń, poszukiwań i eksperymentów. 
        </h1>
        <h3 class="header unset-margins primary mobile-display">
            Nasze zajęcia są efektem przemyśleń, poszukiwań i eksperymentów. 
        </h3>
        <Image class="header-photo" src={aboutHeaderPhoto} alt="Pani Agnieszka" />
    </div>

    <div class="stuff fourklock">
        <h3 class="stuff-header primary">
            Znaczna część pomysłów jest autorska, przygotowana przez lektorów specjalnie i jedynie dla naszych uczniów.
        </h3>
        <div class="stuff-container">
            <Image class="stuff-photo" src={stuffPhoto} alt="zdjęcie przedstawiające skład zespołu" />
            <div class="stuff-inner-container">
                <p>
                    Kładziemy duży nacisk na ciągłe doskonalenie umiejętności nauczania języka angielskiego opierając się na najnowszych badaniach z zakresu neuropedagogiki. Do współpracy zawsze szukamy nauczycieli ciekawych świata i otwartych na młodych ludzi, aby mieć gwarancję, że zatroszczą się o wszystkie aspekty procesu nauczania. Uczymy się od siebie nawzajem, a naszą pasją jest wyszukiwanie coraz ciekawszych i bardziej angażujących materiałów do nauki. Staramy się ograniczać korzystanie z mediów podczas zajęć, aby uczniowie skupiali się na wzajemnych relacjach i interakcjach w świecie rzeczywistym, gdzie istotne są umiejętności porozumiewania się i empatia. Kreatywność, komunikacja, krytyczne myślenie i współpraca to nasze supermoce, którymi staramy się zarażać naszych uczniów. Zajęcia prowadzimy w domowej atmosferze w salach, których wystrój nie przypomina tradycyjnej klasy szkolnej. Spotykamy się raz w tygodniu, szanując czas rodziców i wierząc, że młody człowiek nie powinien być przeciążony.
                </p>
                <div class="stuff-buttons">

                    <a href="modules" class="btn elev icon-btn">
                        Poznaj nasze zajęcia
                        <span class="material-symbols-outlined">
                            arrow_forward
                        </span>
                    </a>
                    <a href="contact" class="btn icon-btn out">
                        Skontaktuj się z nami
                        <span class="material-symbols-outlined">
                            phone
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bilboard-container fourklock">
        <ChangeBilboard/>
    </div>
</Layout>

<style>
.header-container {
    padding: var(--page-padding-top) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
}

.header {
    margin-bottom: 2.5rem;
}

.header-photo {
    width: 100%;
    height: 50dvh;
    object-fit: cover;
    object-position: 50% 65%;
    border-radius: 3rem;
}

.stuff-photo {
    border-radius: 1.5rem;
    width: 100%;
    height: 90%;
    object-fit: cover;
    align-self: flex-end;
}

.stuff {
    padding: var(--section-spacing) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    /* width: ?; */
}

.stuff-container {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7.9375rem;
}

.stuff-buttons {
    display: flex;
    margin-top: 2.5rem;
    flex-direction: row;
    gap: var(--separator-m);
}

.bilboard-container {
    padding: var(--section-spacing) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    /* width: 100dvw; */
}

@media only screen and (max-width: 40rem) {
    .stuff-container {
        grid-template-columns: 1fr;
        gap: 1.875rem;
    }

    .stuff-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .stuff-buttons > a {
        font-size: 0.7rem;

    }

    .header {
        margin-bottom: 1.875rem;
    }
}
</style>

