---
import Layout from "../layouts/Layout.astro";
import Image from 'astro/components/Image.astro'
import ChangeBilboard from "../components/ChangeBilboard.astro"

import aboutHeaderPhoto from "../images/aboutHeaderPhotoTossingPaper.jpg";
import stuffPhoto from "../images/aboutStuffPhoto.jpg"

---
<Layout title="About">
    <div class="header-container fourklock">
        <h1 class="header unset-margins primary desktop-display">
            Nasze zajęcia są efektem przemyśleń, poszukiwań i eksperymentów. 
        </h1>
        <h3 class="header unset-margins primary mobile-display">
            Nasze zajęcia są efektem przemyśleń, poszukiwań i eksperymentów. 
        </h3>
        <Image class="header-photo" src={aboutHeaderPhoto} alt="Pani Agnieszka" />
    </div>

    <div class="stuff fourklock">
        <h3 class="stuff-header primary">
            Znaczna część pomysłów jest autorska, przygotowana przez lektorów specjalnie i jedynie dla naszych uczniów.
        </h3>
        <div class="stuff-container">
            <Image class="stuff-photo" src={stuffPhoto} alt="zdjęcie przedstawiające skład zespołu" />
            <div class="stuff-inner-container">
                <p>
                    Mamy doświadczenie w zintegrowanym nauczaniu językowo-przedmiotowym (CLIL), które łączy naukę języka z nauką innego przedmiotu (np. przyrody czy sztuki). Często korzystamy również z metody pracy projektowej, dzięki której uczniowie zgłębiają zagadnienia językowe, ale także rozwijają kompetencje miękkie, takie jak planowanie czasu, dynamika działania czy praca w grupie. Przykładamy wagę do tego, aby w czasie zajęć dzieci nie tylko operowały angielskim, ale również sięgały do wyobraźni, były kreatywne, budowały poczucie własnej wartości i tworzyły pozytywne relacje.
                </p>
                <div class="stuff-buttons">

                    <a class="btn elev icon-btn">
                        Poznaj nasze zajęcia
                        <span class="material-symbols-outlined">
                            arrow_forward
                        </span>
                    </a>
                    <a class="btn icon-btn out">
                        Skontaktuj się z nami
                        <span class="material-symbols-outlined">
                            phone
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bilboard-container fourklock">
        <ChangeBilboard/>
    </div>
</Layout>

<style>
.header-container {
    padding: var(--page-padding-top) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
}

.header {
    margin-bottom: 2.5rem;
}

.header-photo {
    width: 100%;
    height: 50dvh;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 3rem;
}

.stuff-photo {
    border-radius: 1.5rem;
    width: 100%;
    height: 90%;
    object-fit: cover;
    align-self: flex-end;
}

.stuff {
    padding: var(--section-spacing) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    /* width: ?; */
}

.stuff-container {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7.9375rem;
}

.stuff-buttons {
    display: flex;
    margin-top: 2.5rem;
    flex-direction: row;
    gap: 2rem;
}

.bilboard-container {
    padding: var(--section-spacing) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    /* width: 100dvw; */
}

@media only screen and (max-width: 40rem) {
    .stuff-container {
        grid-template-columns: 1fr;
        gap: 1.875rem;
    }

    .stuff-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header {
        margin-bottom: 1.875rem;
    }
}
</style>

