---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro"
import ChangeBilboard from "../components/ChangeBilboard.astro"
import ChangeParentsCorner from "../components/ChangeParentsCorner.astro"
import ChangeInfoTile from "../components/ChangeInfoTile.astro"

import brainyExamsHeaderSource from "../images/webp/brainyExamsHeader.webp"
import imageExams from "../images/webp/brainyExams.webp";


---
<Layout title="Brainy Exams">
<div class="header-container fourklock">
    <div class="header-content">
        <h1 class="header unset-margins primary desktop-display">
            Brainy Exams
        </h1>
        <h3 class="header unset-margins primary mobile-display">
            Brainy Exams 
        </h3>
        <h3 class="desktop-display">
            W tym module oswajamy uczniów ze strategiami egzaminacyjnymi, na bieżąco dostosowując materiały do ich potrzeb, dbając o to, aby mieli miarę postępu w przygotowaniach.         </h3>
        <h5 class="mobile-display">
            W tym module oswajamy uczniów ze strategiami egzaminacyjnymi, na bieżąco dostosowując materiały do ich potrzeb, dbając o to, aby mieli miarę postępu w przygotowaniach.         </h5>
    </div>
    <Image class="header-photo" src={brainyExamsHeaderSource} alt="" />
</div>

<div class="description fourklock">
    <h3 class="primary">
        Moduł stworzony specjalnie z myślą o młodzieży, której celem jest zdanie egzaminu.
    </h3>
    <div class="desc-container">
            <Image class="teens-photo desktop-display" src={imageExams} alt=""/>
            <div class="desc-content">
                <div>

                    <p>
                        Pracujemy na arkuszach egzaminacyjnych od samego początku kursu, aby znaleźć deficyty w zakresie samego języka oraz typów zadań egzaminacyjnych, które sprawiają trudności uczniom. W kameralnych grupach ćwiczymy wszystkie umiejętności egzaminacyjne oraz dajemy wskazówki dotyczące egzaminacyjnych trików. Naszym priorytetem jest, aby uczniowie wiedzieli, na jakim są etapie, stopniowo uzupełniając sprawności językowe wymagane na egzaminie, budując tym samym ich poczucie bezpieczeństwa.
                        W ramach kursu przewidujemy powstanie grup skupiających się na przygotowaniach do:
                        <ul class="p">
                            <li>egzaminu ósmoklasisty</li>
                            <li>egzaminu maturalnego</li>
                            <li>międzynarodowych certyfikatów językowych (FCE i CAE)</li>
                        </ul>
                    </p>
                </div>
                    
                    
                <div class="desc-tiles">
                    <ChangeInfoTile title="Przedział wiekowy" subheading="VIII klasa SP, liceum, technikum">
                        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36.336 35.9549H26.8114V5H36.336V35.9549ZM24.4303 35.9549H14.9057V14.5246H24.4303V35.9549ZM12.5246 35.9549H3V21.668H12.5246V35.9549Z" fill="#39A2F1"/>
                        </svg>
                    </ChangeInfoTile>
                    <ChangeInfoTile title="Czas trwania" subheading="90 min raz w tygodniu">
                        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.7497 36.6668C11.5447 36.6668 4.08301 29.2052 4.08301 20.0002C4.08301 10.7952 11.5447 3.3335 20.7497 3.3335C29.9547 3.3335 37.4163 10.7952 37.4163 20.0002C37.4163 29.2052 29.9547 36.6668 20.7497 36.6668ZM22.4163 20.0002V11.6668H19.083V23.3335H29.083V20.0002H22.4163Z" fill="#39A2F1"/>
                        </svg>
                    </ChangeInfoTile>
                    <ChangeInfoTile title="Ilość osób w grupie" subheading="od 3 do 6">
                        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5003 36.6668V14.6252C12.9725 13.9585 10.9514 12.5624 9.43699 10.4368C7.92255 8.31128 7.16588 5.9435 7.16699 3.3335H10.5003C10.5003 5.63905 11.2437 7.60461 12.7303 9.23017C14.217 10.8557 16.1125 11.6679 18.417 11.6668H22.5837C23.417 11.6668 24.1948 11.8196 24.917 12.1252C25.6392 12.4307 26.292 12.8752 26.8753 13.4585L34.417 21.0002L32.0837 23.3335L25.5003 16.7502V36.6668H22.167V26.6668H18.8337V36.6668H15.5003ZM20.5003 10.0002C19.5837 10.0002 18.7987 9.6735 18.1453 9.02017C17.492 8.36683 17.1659 7.58239 17.167 6.66683C17.167 5.75017 17.4937 4.96517 18.147 4.31183C18.8003 3.6585 19.5848 3.33239 20.5003 3.3335C21.417 3.3335 22.202 3.66017 22.8553 4.3135C23.5087 4.96683 23.8348 5.75128 23.8337 6.66683C23.8337 7.5835 23.507 8.3685 22.8537 9.02183C22.2003 9.67517 21.4159 10.0013 20.5003 10.0002Z" fill="#39A2F1"/>
                        </svg>
                    </ChangeInfoTile>
                    <ChangeInfoTile title="Cena" subheading="75 – 95 zł" additional="(w zależności od ilości osób)">
                        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M33.7997 12.5002L30.0163 8.71683C30.133 8.01683 30.3163 7.36683 30.5497 6.80016C30.7097 6.42065 30.7733 6.00744 30.7349 5.59737C30.6965 5.18729 30.5573 4.79308 30.3296 4.44988C30.1019 4.10668 29.7928 3.82514 29.4299 3.63035C29.067 3.43556 28.6615 3.33358 28.2497 3.3335C25.5163 3.3335 23.0997 4.65016 21.583 6.66683H13.2497C8.18301 6.66683 4.08301 10.7668 4.08301 15.8335C4.08301 20.9002 8.24967 35.0002 8.24967 35.0002H17.4163V31.6668H20.7497V35.0002H29.9163L32.7163 25.6835L37.4163 24.1168V12.5002H33.7997ZM22.4163 15.0002H14.083V11.6668H22.4163V15.0002ZM27.4163 18.3335C26.4997 18.3335 25.7497 17.5835 25.7497 16.6668C25.7497 15.7502 26.4997 15.0002 27.4163 15.0002C28.333 15.0002 29.083 15.7502 29.083 16.6668C29.083 17.5835 28.333 18.3335 27.4163 18.3335Z" fill="#39A2F1"/>
                        </svg>
                    </ChangeInfoTile>
                </div>
                <div class="contact-faq-buttons">
                    <a class="btn elev icon-btn" href="contact?ref=brainy_exams">
                        Skontaktuj się z nami
                        <span class="material-symbols-outlined">
                            phone
                        </span>
                    </a>
                    <a class="btn out" href="faq">
                        Najczęściej zadawane pytania
                    </a>
                </div>
            </div>
    </div>
</div>

<div class="bilboard-container fourklock">
    <ChangeBilboard/>
</div>

<div class="parents-corner fourklock">
    <ChangeParentsCorner />
</div>

</Layout>

<style>
.contact-faq-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--separator-m);
}

.header-container {
    padding: var(--page-padding-top) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2.5rem;
}

.teens-photo {
    border-radius: 1.5rem;
    width: 100%;
    height: 85%;
    object-fit: cover;
    align-self: flex-end;
}

.header, h5, h3 {
    margin: 0;
    padding: 0;
}

.header-photo {
    width: 100%;
    height: 50dvh;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 3rem;
}

.desc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 7.9375rem
}

.desc-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.desc-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

ul {
    margin: 0;
    padding-left: 1.25rem;
}

.parents-corner, .bilboard-container, .description {
    padding: var(--section-spacing) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
}

@media only screen and (max-width: 60rem) {
    .header-content {
        grid-template-columns: 1fr;
        gap: 1.875rem;
        margin-bottom: 1.875rem;
    }

    .desc-tiles, .desc-container {
        grid-template-columns: 1fr;
    }

    .contact-faq-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
</style>