---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Contact">
    <div class="form-container fourklock">
        <div class="form">
            <p>
                Zaznacz wybrany temat (opcjonalnie).
            </p>
            <input type="checkbox" id="brainyKids" name="brainyKids" value="Brainy Kids">
            <label for="brainyKids"> Brainy Kids</label>
            <input type="checkbox" id="brainyTeens" name="brainyTeens" value="Brainy Teens">
            <label for="brainyTeens"> Brainy Teens</label>
            <input type="checkbox" id="brainyExams" name="brainyExams" value="Brainy Exams">
            <label for="brainyExams"> Brainy Exams</label>
            <input type="checkbox" id="fris" name="fris" value="FRIS">
            <label for="fris"> FRIS</label>
            <input type="checkbox" id="wynajemSal" name="wynajemSal" value="Wynajem sal">
            <label for="wynajemSal"> Wynajme sal</label>
            <input type="checkbox" id="other" name="other" value="Chcę porozmawiać o czymś innym">
            <label for="other"> Chcę porozmawiać o czymś innym</label>
            <p>
                Wypełnij swoje dane i uzupełnij treść wiadomości lub pozostaw ją pustą.
            </p>
            <p class="p-button">
                * – pola obowiązkowe
            </p>
            <input type="checkbox" id="agreement" name="agreement" value="agreement">
            <label for="agreement"> Zapoznałem/am się oraz akceptuję regulamin i politykę prywatności i wyrażam zgodę na kontakt.</label> <br>
            <a class="btn icon-btn">
                Poznaj nasze zajęcia
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.6371 5.39619L0.901036 0.0634378C0.792927 0.00974382 0.672606 -0.0104789 0.554045 0.00511802C0.435483 0.0207149 0.323545 0.0714916 0.23123 0.151552C0.138915 0.231611 0.0700102 0.33767 0.0325166 0.457411C-0.00497696 0.577152 -0.00952076 0.705664 0.019413 0.828022L0.784833 4.06034L5.68428 5.99946L0.784833 7.93858L0.019413 11.1709C-0.0100652 11.2933 -0.00590059 11.4221 0.0314196 11.5422C0.0687397 11.6622 0.137672 11.7685 0.230154 11.8488C0.322636 11.929 0.434842 11.9797 0.553649 11.9951C0.672455 12.0104 0.792949 11.9898 0.901036 11.9355L11.6371 6.60273C11.7456 6.5489 11.8374 6.46358 11.9016 6.35675C11.9659 6.24993 12 6.126 12 5.99946C12 5.87292 11.9659 5.74899 11.9016 5.64217C11.8374 5.53534 11.7456 5.45002 11.6371 5.39619Z" fill="#EBECF2"/>
                  </svg>
            </a>
        </div>
        <div class="map-container">
            <div class="company-data">
                <div class="company-name">
                    <div class="logo">
                        <a href="home">
                            <svg width="105" height="22" viewBox="0 0 105 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5913 20.6721C14.3459 20.6721 14.1193 20.5484 13.9778 20.3487L11.0425 16.1165L8.70183 16.3067C8.6452 16.3067 8.59801 16.3067 8.54138 16.3067C8.00341 16.3067 7.49374 16.0879 7.11622 15.698L4.78499 13.2918C4.78499 13.2918 4.69061 13.2062 4.62454 13.1776L1.77421 11.9222C1.38724 11.751 1.06635 11.4657 0.849268 11.0853L0.264102 10.0677C-0.0473583 9.52554 -0.085111 8.85029 0.160282 8.27013L1.08522 6.09219C1.2268 5.76882 1.44387 5.4835 1.72702 5.27427L5.91757 2.15476C6.22903 1.91699 6.60656 1.78384 6.99352 1.75531L14.6384 1.32733C14.6384 1.32733 14.7139 1.32733 14.7517 1.32733C15.0443 1.32733 15.3369 1.39391 15.5917 1.51755L18.9045 3.06779C19.1971 3.20094 19.4613 3.41968 19.6501 3.67647L22.1418 6.9957C22.2456 7.13836 22.34 7.29053 22.3966 7.46173L23.4537 10.1342C23.6141 10.5242 23.6425 10.9521 23.5386 11.3611L22.7175 14.6994C22.6326 15.0608 22.4438 15.3841 22.189 15.6409L19.9993 17.8189C19.9993 17.8189 19.9333 17.8854 19.8861 17.914C19.5369 18.1993 19.0933 18.361 18.6308 18.361C18.4609 18.361 18.291 18.342 18.1211 18.2944L15.0065 17.4575L15.3274 19.8161C15.3746 20.1585 15.1859 20.4914 14.865 20.615C14.78 20.6531 14.6856 20.6626 14.5913 20.6626V20.6721ZM12.2411 15.2224L13.3454 16.8107L13.4209 16.7822L13.3926 16.5539C13.3643 16.3067 13.4492 16.0594 13.638 15.8882C13.7701 15.7646 13.9495 15.698 14.1288 15.698C14.1948 15.698 14.2515 15.698 14.3175 15.7265L16.7903 16.3923L16.8281 16.3162L12.8641 13.4344L12.2411 15.2224ZM14.4214 12.7211L19.3858 16.3352L21.1413 14.5852C21.2074 14.5187 21.2546 14.4331 21.2735 14.3475L21.9247 11.6845L14.4119 12.7306L14.4214 12.7211ZM6.08746 12.4929L8.19217 14.6613C8.28655 14.7564 8.41868 14.8135 8.55082 14.8135C8.5697 14.8135 8.57913 14.8135 8.59801 14.8135L10.8726 14.6328L11.5522 12.6641L7.09734 10.8L6.08746 12.5024V12.4929ZM1.53826 8.88833C1.47219 9.03099 1.48163 9.20218 1.56657 9.34484L2.15174 10.3625C2.20837 10.4576 2.28387 10.5337 2.38769 10.5717L4.86049 11.6559L5.81375 10.0391L2.22724 7.262L1.53826 8.87882V8.88833ZM9.06992 10.0011L12.1656 11.2945L13.5531 8.76469L9.06992 10.0011ZM13.8645 11.285L20.056 10.4291L15.3841 8.51741L13.8645 11.2945V11.285ZM15.7899 7.06228L21.5661 9.43044L21.0092 8.02286C21.0092 8.02286 20.9715 7.93726 20.9431 7.90873L18.4515 4.5895C18.4043 4.52292 18.3382 4.46586 18.2627 4.43733L15.7333 3.24849L15.7805 7.07179L15.7899 7.06228ZM3.15218 6.1017L6.01195 8.31769L5.93645 4.00935L3.15218 6.1017ZM9.57958 8.22258L9.61733 8.28916L14.3081 6.9957L14.2704 3.76207L9.57958 8.21307V8.22258ZM7.4088 3.23898L7.49374 8.14649L12.9962 2.92513L7.4088 3.23898Z" fill="#39A2F1"/>
                                <path d="M34.9795 16.3254C33.8092 16.3254 32.8182 16.0591 32.0065 15.536C31.1948 15.0129 30.5719 14.2806 30.1377 13.3581C29.7036 12.4355 29.4865 11.3798 29.4771 10.191C29.4771 8.98314 29.713 7.91794 30.1472 6.9954C30.5813 6.07287 31.2231 5.35005 32.0348 4.82697C32.8465 4.30388 33.8375 4.04709 34.9984 4.04709C36.2159 4.04709 37.2635 4.35143 38.1413 4.9506C39.019 5.54978 39.6137 6.37721 39.9062 7.42338L38.028 7.99402C37.7826 7.31877 37.3862 6.79568 36.8388 6.42476C36.2914 6.05384 35.6685 5.86363 34.9701 5.86363C34.1773 5.86363 33.526 6.04433 33.0164 6.41525C32.5067 6.78617 32.1197 7.29023 31.8743 7.94647C31.629 8.5932 31.4968 9.34454 31.4874 10.1815C31.5063 11.4749 31.7988 12.5116 32.384 13.3105C32.9692 14.0999 33.828 14.4993 34.9795 14.4993C35.7346 14.4993 36.3575 14.3281 36.8577 13.9762C37.3485 13.6244 37.7355 13.1203 37.9997 12.4641L39.9251 12.9681C39.5287 14.0523 38.9058 14.8798 38.0564 15.4504C37.2069 16.021 36.1876 16.3159 34.9889 16.3159L34.9795 16.3254Z" fill="#39A2F1"/>
                                <path d="M41.4536 16.0024V0.5H43.1619V9.05962H43.379V16.0024H41.4536ZM49.6837 16.0024V10.1819C49.6837 9.63978 49.6365 9.10718 49.5327 8.60311C49.4289 8.08953 49.2684 7.63302 49.0325 7.22406C48.7965 6.8151 48.4756 6.49174 48.0792 6.25397C47.6734 6.0162 47.1731 5.90207 46.5597 5.90207C46.0783 5.90207 45.6536 5.98767 45.2572 6.14935C44.8702 6.31103 44.5399 6.55831 44.2568 6.89119C43.983 7.21455 43.766 7.63302 43.615 8.12758C43.4639 8.62213 43.3884 9.21179 43.3884 9.88705L42.1426 9.49712C42.1426 8.37485 42.3408 7.41427 42.7466 6.59635C43.1525 5.78794 43.7188 5.16024 44.4455 4.73226C45.1723 4.30428 46.0311 4.08553 47.0221 4.08553C47.7678 4.08553 48.4095 4.19966 48.9381 4.43743C49.4666 4.67519 49.9008 4.98905 50.25 5.3885C50.5992 5.78794 50.8729 6.22544 51.0711 6.70097C51.2693 7.18602 51.4109 7.67106 51.4958 8.17513C51.5808 8.6792 51.6185 9.14522 51.6185 9.58271V16.0119H49.6931L49.6837 16.0024Z" fill="#39A2F1"/>
                                <path d="M57.1773 16.3261C56.3185 16.3261 55.5917 16.1645 55.016 15.8506C54.4308 15.5272 53.9967 15.1088 53.7041 14.5857C53.4115 14.0626 53.2605 13.4919 53.2605 12.8642C53.2605 12.2365 53.3738 11.723 53.6003 11.2855C53.8268 10.8385 54.1571 10.4675 54.5818 10.1632C55.0066 9.85886 55.5068 9.6211 56.092 9.4499C56.6394 9.29773 57.2528 9.16458 57.9324 9.05996C58.6119 8.95535 59.3009 8.85073 59.9899 8.75562C60.6883 8.66052 61.3396 8.57492 61.9531 8.48932L61.2735 8.88877C61.2924 7.86162 61.0847 7.10076 60.6506 6.5967C60.2259 6.10214 59.4803 5.84535 58.4326 5.84535C57.7342 5.84535 57.1207 6.00703 56.6016 6.3304C56.0825 6.65376 55.705 7.16734 55.4973 7.88064L53.6947 7.32902C53.9684 6.31138 54.5063 5.51248 55.3086 4.93233C56.1108 4.35217 57.1585 4.05734 58.4609 4.05734C59.5086 4.05734 60.4052 4.24756 61.1603 4.61847C61.9153 4.98939 62.4533 5.56003 62.7836 6.32089C62.9441 6.68229 63.0479 7.07223 63.0951 7.4907C63.1423 7.90917 63.1611 8.34666 63.1611 8.81269V16.0028H61.4717V13.2161L61.8681 13.4729C61.434 14.424 60.8205 15.1373 60.0371 15.6128C59.2537 16.0884 58.3099 16.3261 57.1962 16.3261H57.1773ZM57.4699 14.7188C58.1495 14.7188 58.7441 14.5952 59.2443 14.3479C59.7445 14.1006 60.1504 13.7773 60.4524 13.3683C60.7544 12.9593 60.9621 12.5219 61.047 12.0368C61.1508 11.6754 61.2074 11.276 61.2169 10.8385C61.2358 10.401 61.2358 10.0586 61.2358 9.81131L61.8964 10.1061C61.2735 10.2012 60.6695 10.2868 60.0654 10.3629C59.4614 10.439 58.8951 10.5246 58.3666 10.6102C57.838 10.6958 57.3567 10.8004 56.932 10.9241C56.6205 11.0287 56.3279 11.1523 56.0542 11.314C55.7805 11.4757 55.5634 11.6754 55.3935 11.9322C55.2236 12.1795 55.1387 12.4838 55.1387 12.8452C55.1387 13.1591 55.2142 13.4634 55.3747 13.7487C55.5351 14.0341 55.7805 14.2718 56.1203 14.4525C56.46 14.6332 56.9036 14.7188 57.4511 14.7188H57.4699Z" fill="#0051B2"/>
                                <path d="M65.4922 16.0021V4.38005H67.2005V7.49005H67.4176V16.0021H65.4922ZM73.7223 16.0021V10.1816C73.7223 9.63946 73.6751 9.10686 73.5713 8.6028C73.4674 8.08922 73.307 7.63271 73.071 7.22375C72.8351 6.81479 72.5142 6.49143 72.1178 6.25366C71.7119 6.01589 71.2117 5.90176 70.5982 5.90176C70.1169 5.90176 69.6922 5.98736 69.2958 6.14904C68.9088 6.31072 68.5785 6.558 68.2953 6.89087C68.0216 7.21424 67.8045 7.63271 67.6535 8.12726C67.5025 8.62182 67.427 9.21148 67.427 9.88674L66.1812 9.4968C66.1812 8.37454 66.3794 7.41396 66.7852 6.59604C67.1911 5.78763 67.7573 5.15993 68.4841 4.73195C69.2108 4.30397 70.0697 4.08522 71.0607 4.08522C71.8063 4.08522 72.4481 4.19935 72.9767 4.43712C73.5052 4.67488 73.9394 4.98874 74.2886 5.38818C74.6378 5.78763 74.9115 6.22513 75.1097 6.70066C75.3079 7.18571 75.4495 7.67075 75.5344 8.17482C75.6193 8.67888 75.6571 9.14491 75.6571 9.5824V16.0116H73.7317L73.7223 16.0021Z" fill="#0051B2"/>
                                <path d="M82.5472 16.3261C81.4713 16.3261 80.5463 16.0598 79.7818 15.5176C79.0079 14.9755 78.4227 14.2432 78.0074 13.3207C77.5922 12.3886 77.3845 11.3424 77.3845 10.1821C77.3845 9.02184 77.5922 7.97567 78.0074 7.05313C78.4227 6.13059 79.0173 5.39827 79.7818 4.86567C80.5557 4.33307 81.4713 4.06677 82.5378 4.06677C83.6043 4.06677 84.5387 4.33307 85.2843 4.86567C86.0205 5.39827 86.5867 6.13059 86.9643 7.05313C87.3418 7.97567 87.54 9.02184 87.54 10.1917C87.54 11.3615 87.3512 12.3981 86.9643 13.3207C86.5867 14.2432 86.0205 14.985 85.2843 15.5176C84.5481 16.0598 83.6326 16.3261 82.5472 16.3261ZM82.6888 21.4904C82.0847 21.4904 81.4901 21.3952 80.9144 21.2145C80.3387 21.0243 79.8101 20.7485 79.3288 20.3681C78.8474 19.9877 78.451 19.5121 78.1301 18.9415L79.8762 18.019C80.1593 18.5896 80.5652 18.9986 81.0843 19.2553C81.6034 19.5121 82.1508 19.6453 82.6982 19.6453C83.4344 19.6453 84.0384 19.5121 84.5198 19.2458C85.0011 18.9795 85.3598 18.5801 85.5957 18.0475C85.8317 17.5149 85.9449 16.8587 85.9355 16.0693V12.8927H86.162V4.38063H87.8515V16.0788C87.8515 16.4021 87.8515 16.7065 87.8231 17.0013C87.8043 17.2961 87.7665 17.5815 87.7099 17.8668C87.5589 18.6942 87.2663 19.3695 86.8227 19.9116C86.3791 20.4442 85.8128 20.8436 85.1144 21.1099C84.416 21.3762 83.6043 21.4999 82.6888 21.4999V21.4904ZM82.7832 14.5666C83.5571 14.5666 84.1989 14.3764 84.6991 14.0054C85.1993 13.625 85.5674 13.1114 85.8034 12.4457C86.0393 11.7799 86.162 11.0286 86.162 10.1821C86.162 9.33569 86.0393 8.57484 85.8034 7.90909C85.558 7.25285 85.1993 6.72977 84.7085 6.36836C84.2178 5.99744 83.5948 5.81674 82.8398 5.81674C82.0847 5.81674 81.4052 6.00695 80.905 6.39689C80.3953 6.78683 80.0178 7.30992 79.7724 7.96616C79.527 8.62239 79.4043 9.36423 79.4043 10.1821C79.4043 11.0001 79.527 11.7514 79.7818 12.4172C80.0366 13.0829 80.4047 13.606 80.905 13.9959C81.4052 14.3859 82.0375 14.5761 82.7926 14.5761L82.7832 14.5666Z" fill="#0051B2"/>
                                <path d="M95.4111 16.3254C94.2785 16.3254 93.2875 16.0686 92.4475 15.5645C91.6075 15.0605 90.9469 14.3472 90.475 13.4437C90.003 12.5401 89.7671 11.4749 89.7671 10.2576C89.7671 9.0402 90.003 7.88941 90.4655 6.95736C90.928 6.02531 91.5792 5.31201 92.4003 4.80794C93.2215 4.30388 94.203 4.04709 95.3262 4.04709C96.4493 4.04709 97.4781 4.31339 98.2898 4.8555C99.1014 5.39761 99.7149 6.15846 100.13 7.15709C100.536 8.15571 100.715 9.34454 100.659 10.7236H98.7334V10.0388C98.7145 8.61222 98.4219 7.54702 97.865 6.83372C97.3082 6.12993 96.4871 5.77803 95.3828 5.77803C94.203 5.77803 93.3158 6.15846 92.7024 6.91932C92.0889 7.68017 91.7869 8.7739 91.7869 10.191C91.7869 11.6081 92.0889 12.6257 92.7024 13.3771C93.3158 14.1284 94.1842 14.5089 95.3167 14.5089C96.0812 14.5089 96.7419 14.3377 97.3082 13.9858C97.8745 13.6339 98.3086 13.1298 98.6295 12.4641L100.461 13.1013C100.008 14.1284 99.3374 14.9273 98.4313 15.4885C97.5347 16.0496 96.5248 16.3349 95.4017 16.3349L95.4111 16.3254ZM91.1451 10.7236V9.18286H99.6677V10.7236H91.1451Z" fill="#39A2F1"/>
                                <path d="M102.358 16.0028V13.8914H104.453V16.0028H102.358Z" fill="#39A2F1"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <p class="company-name-text">
                    Akademia Rozwoju Umiejętności Językowych
i Społecznych Change
                </p>
                <p class="p-button">Agnieszka Saramowicz-Garstecka</p>
                
                <p class="p-button">+48 602 877 416</p>
                
                <p class="p-button">change.torun@gmail.com</p>
                
                <p class="p-button">ul. Kasprowicza 6/2 <br>
                    87-100 Toruń</p>
                    
                <p class="p-button">NIP: 956 080 528</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2400.3201395631395!2d18.570348777796852!3d53.01460777219495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4703358d2489ae87%3A0xc17c54233008e247!2sAkademia%20Umiej%C4%99tno%C5%9Bci%20J%C4%99zykowych%20i%20Spo%C5%82ecznych%20Change%20Agnieszka%20Saramowicz-Garstecka!5e0!3m2!1spl!2spl!4v1720394958105!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</Layout>

<style>
.form-container {
    margin-top: 4.375rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--padding-horizontal);
}

iframe {
    width: 100%;
}

.company-name-text {
    color: var(--text-primary);

    /* Font styles/p */
    font-family: Manrope;
    font-size: var(--Numbers-Fonts-p, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.4rem */
}

@media only screen and (max-width: 40rem) {
    .form-container {
        grid-template-columns: 1fr;
    }
}
</style>