---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import ChangeDevelopmentTile from "../components/ChangeDevelopmentTile.astro"
import ChangeBilboard from "../components/ChangeBilboard.astro"

import developmentSpaceHeaderPhoto from "../images/webp/developmentSpaceHeaderPhoto.webp";
import ChangeGalleryDev from "../components/ChangeGalleryDev.astro";

---
<Layout title="Development space">
    <div class="header-container fourklock">
        <h1 class="header unset-margins primary desktop-display">
            Nasze zajęcia są efektem przemyśleń, poszukiwań i eksperymentów. 
        </h1>
        <h3 class="header unset-margins primary mobile-display">
            Nasze zajęcia są efektem przemyśleń, poszukiwań i eksperymentów. 
        </h3>
        <Image class="header-photo" src={developmentSpaceHeaderPhoto} alt="Sala lekcyjna" />
    </div>

    <div class="description fourklock">
        <h3 class="header2 primary">
            Oddajemy Ci przestrzeń do kreatywnych zmian, bo wspieramy rozwój w każdym wieku.
        </h3>
        <div class="desc-container">
                <!-- <Image class="carousel-photo" src={photoCarouselOne} alt=""/> -->
                 <ChangeGalleryDev>
                    
                </ChangeGalleryDev>
                <div class="desc-content">
                    <p>
                        Change to przestrzeń domowa, gdzie kreatywność i nauka spotykają się w harmonii. Poza godzinami zajęć oferujemy możliwość wynajęcia sal, gdzie niezależnie od tego, czy organizujesz warsztaty rozwojowe czy spotkania grupowe, znajdziesz idealne warunki do efektywnej współpracy w spokoju i bezpiecznej przestrzeni. Nie musisz się martwić o materiały twórcze — wszystko, co może się przydać już mamy, nawet klocki LEGO!
                    </p>

                    <ChangeDevelopmentTile 
                        title="Wynajem sal" 
                        desc="Zorganizuj w stworzonej przez nas przestrzeni swoje szkolenia, warsztaty rozwojowe lub spotkania terapeutyczne." 
                        buttonText="Skontaktuj się z nami" 
                        buttonLink="contact?ref=room" 
                        buttonIcon="phone"
                    />

                    <ChangeDevelopmentTile 
                        title="Szkolenie FRIS®" 
                        desc="Odkryj z nami swój styl myślenia i styl działania podczas sesji rozwojowej prowadzonej przez certyfikowanego trenera Modelu FRIS®." 
                        buttonText="Skontaktuj się z nami" 
                        buttonLink="contact?ref=fris" 
                        buttonIcon="phone"
                        aboutText="Więcej o FRIS®"
                        aboutLink="https://fris.pl/poznaj"
                        aboutIcon="arrow_forward"
                    />

                </div>
        </div>
    </div>

    <div class="bilboard-container fourklock">
        <ChangeBilboard/>
    </div>
</Layout>

<style>
.gallery-image {
    width: 100%;
}

.header-container {
    /* margin-top: var(--page-padding-top); */
    padding: var(--page-padding-top) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);
}

.header, .header2 {
    /* margin-bottom: var(--content-spacing); */
}

.bilboard-container, .description {
    padding: var(--section-spacing) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);
}

.header-photo {
    width: 100%;
    height: 50dvh;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 3rem;
}

.desc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 7.9375rem
}

.desc-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.carousel-photo {
    border-radius: 1.5rem;
    width: 100%;
    height: 85%;
    object-fit: cover;
    align-self: flex-end;
}

@media only screen and (max-width: 60rem) {
    .desc-container {
        grid-template-columns: 1fr;
    }
}
</style>