---
import ChangeFAQAltElement from "../components/ChangeFAQAltElement.astro";
import ChangeFAQElement from "../components/ChangeFAQElement.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout title="FAQ">
    <div class="faq-container fourklock">
        <div class="desc">
            <h1 class="header unset-margins primary desktop-display">
                Pytania, które
                często słyszymy:
            </h1>
            <h3 class="header unset-margins primary mobile-display">
                Pytania, które
                często słyszymy:
            </h3>
            <p>
                W Change słuchamy – rodziców, dzieci i młodzieży oraz samych siebie. Znaleźliśmy odpowiedzi na często zadawane przez Was pytania i umieściliśmy je w tej sekcji.            </p>
            <p>
                Nie znalazłeś/aś nurtującego Cię pytania?
            </p>
            <a class="btn out icon-btn" href="/contact?ref=other">
                Skontaktuj się z nami
                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.41333 6.00017C3.37333 7.88684 4.92 9.42684 6.80667 10.3935L8.27333 8.92684C8.45333 8.74684 8.72 8.68684 8.95333 8.76684C9.7 9.01351 10.5067 9.14684 11.3333 9.14684C11.7 9.14684 12 9.44684 12 9.81351V12.1402C12 12.5068 11.7 12.8068 11.3333 12.8068C5.07333 12.8068 0 7.73351 0 1.47351C0 1.10684 0.3 0.806839 0.666667 0.806839H3C3.36667 0.806839 3.66667 1.10684 3.66667 1.47351C3.66667 2.30684 3.8 3.10684 4.04667 3.85351C4.12 4.08684 4.06667 4.34684 3.88 4.53351L2.41333 6.00017Z"/>
                  </svg>
            </a> 
        </div>
        <div class="faq-elements">
            <ChangeFAQAltElement 
                question="Czy trzeba dodatkowo zapłacić za podręczniki?" 
            >
                W grupach dziecięcych nie korzystamy z podręczników (dzieci dostają firmowy zeszyt w formacie A4, w którym prowadzą historię swojej nauki). <br><br> W grupach przygotowujących się do egzaminów uczniowie płacą za podręcznik z zadaniami gramatyczno-leksykalnymi.
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Czy dzieci mogą się czegoś napić podczas zajęć?" 
            >
                Tak, mogą korzystać z wody w kuchni lub napić się z własnego bidonu.
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Czy dzieci muszą zmieniać obuwie?" 
                >
                Pozostawiamy to do ich decyzji. Natomiast prosimy słuchaczy o zdjęcie butów jedynie kiedy przechodzą do zajęć relaksacyjnych na dywanie.
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Czy pod szkołą jest parking?" 
                >
                Nie posiadamy własnego parkingu. Nasza akademia znajduje się w bliźniaku przy bocznej ulicy, gdzie można znaleźć kilka wolnych miejsc, natomiast prosimy o wzięcie pod uwagę tego że mamy sąsiadów.
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Czy rodzic może zostać w budynku podczas zajęć?" 
                >
                Gdybyśmy mogli, zaprosilibyśmy wszystkich Państwa na kawę, ale ze względu na ograniczone warunki przestrzenne, pozwalamy na to tylko w wyjątkowych wypadkach. Akademia jest zlokalizowana blisko galerii handlowej, obiektów sportowych, sklepu spożywczego, kawiarni oraz terenów spacerowych. Zachęcamy do owocnego zagospodarowania swojego czasu.
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Czy można uzyskać zaświadczenie o tym, że dziecko uczęszcza na zajęcia?" 
                >
                Jak najbardziej - wydajemy zaświadczenia na prośbę rodzica.
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Czy przyjmujemy płatność gotówką?" 
                >
                Nie, wszystkie wpłaty dokonywane są na konto Change. Wpłaty wprowadzane są do elektronicznego systemu zarządzania szkołą językową EDUSKY.
                <!-- <br>
                <br>
                <a class="btn out icon-btn" href="/faq">
                    Dowiedz się więcej
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                </a> -->
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Czy dzieci muszą mieć piórnik?" 
                >
                Nie ma takiej potrzeby. Najważniejszy jest długopis - resztę materiałów piśmiennych zapewniamy na miejscu. Niemniej mamy w zapasie kilka przyrządów do pisania dla zapominalskich.
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Czy w grupach są dzieci, między którymi jest różnica wiekowa?" 
                >
                Bardzo rzadko zdarza się, że może być różnica około jednego roku.
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Czy Change organizuje półkolonie?" 
                >
                Niestety nie, to wymaga wielu przygotowań, a wszystkie lektorki na co dzień mają jeszcze drugą pracę.
            </ChangeFAQAltElement>
            <ChangeFAQAltElement 
                question="Kiedy trzeba zapisać dziecko i czy jest opłata wpisowa?" 
                >
                Zapisy na rok następny ruszają od maja i trwają do września. Nie ma opłaty wpisowej.
            </ChangeFAQAltElement>
        </div>
    </div>
</Layout>

<style>

.faq-container {
    /* margin-top: calc(var(--page-padding-top) - var(--navbar-height)); */

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--page-padding-top) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    gap: 7.938rem;
}

.faq-elements {
    /* max-height: 90dvh; */
    /* overflow-y: scroll; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.faq-elements::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.faq-elements {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

@media only screen and (max-width: 40rem) {
    .faq-container {
        grid-template-columns: 1fr;
    }
}
</style>