---
import ChangeFAQAltElement from "../components/ChangeFAQAltElement.astro";
import ChangeFAQElement from "../components/ChangeFAQElement.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout title="FAQ">
    <div class="faq-container fourklock">
        <div class="desc">
            <h1 class="header unset-margins primary desktop-display">
                Pytania, które
                często słyszymy. 
            </h1>
            <h3 class="header unset-margins primary mobile-display">
                Pytania, które
                często słyszymy.
            </h3>
            <p>
                W Change słuchamy – rodziców, dzieci i młodzieży oraz samych siebie. Znaleźliśmy odpowiedzi na często zadawane przez Was pytania i umieściliśmy je w tej sekcji.            </p>
            <p>
                Nie znalazłeś/aś nurtującego Cię pytania?
            </p>
            <a class="btn out icon-btn" href="contact?ref=other">
                Skontaktuj się z nami
            <span class="material-symbols-outlined">
                phone
            </span>
            </a> 
        </div>
        <div>
            <ChangeFAQAltElement question="Czy trzeba dodatkowo zapłacić za podręczniki?" answer="tba" id="1"/>
            <ChangeFAQAltElement question="Czy dzieci mogą się czegoś napić podczas zajęć?" answer="tak (tba)" id="2"/>
            <ChangeFAQAltElement question="Czy dzieci muszą zmieniać obuwie?" answer="nie (tba)" id="3"/>
            <ChangeFAQAltElement question="Czy pod szkołą jest parking?" answer="tba" id="4"/>
            <ChangeFAQAltElement question="Czy rodzic może zostać w budynku podczas zajęć?" answer="tba" id="5"/>
            <ChangeFAQAltElement question="Czy można uzyskać zaświadczenie o tym, że dziecko uczęszcza na zajęcia?" answer="tba" id="6"/>
            <ChangeFAQAltElement question="Czy przyjmujemy płatność gotówką?" answer="tba" id="7"/>
        </div>
    </div>
</Layout>

<style>

.faq-container {
    /* margin-top: calc(var(--page-padding-top) - var(--navbar-height)); */
    margin-top: var(--page-padding-top);

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--padding-horizontal);
    gap: 7.938rem;
}

@media only screen and (max-width: 40rem) {
    .faq-container {
        grid-template-columns: 1fr;
    }
}
</style>