---
import ChangeModuleTile from "../components/ChangeModuleTile.astro";
import Layout from "../layouts/Layout.astro";
import imageBrainyKids from "../images/brainyKids.png";
import imageTeensKids from "../images/brainyTeens.jpg";
import imageExamsKids from "../images/brainyExams.jpg";

---
<Layout title="Modules">
    <div class="intro fourklock">
            
            <h2 class="desktop-display">Witaj w Change - akademii rozwoju umiejętności językowych i społecznych.</h2>
            <h3 class="mobile-display">Witaj w Change - akademii rozwoju umiejętności językowych i społecznych.</h3>
            <div class="intro-container">
                <p>
                    Tutaj słuchacze czują się wyjątkowi ucząc się angielskiego w domowej atmosferze, łącząc naukę języka z technikami oddychania i uważności. To miejsce, w którym program nauczania dostosowuje się do dziecka, a nie dziecko do programu. Uczymy bez podręczników, skupiając się na praktycznych umiejętnościach i naturalnym rozwoju. Spotykamy się raz w tygodniu, co pozwala na harmonijny rozwój bez przeciążania. Założona 20 lat temu z myślą o naszych własnych dzieciach, akademia nieustannie rozwija swoją wizję, aby zapewnić indywidualne podejście do każdego ucznia i wspierać jego językowy oraz społeczny rozwój. Tutaj towarzyszymy w nauce i dmuchamy w skrzydła.
                </p>
            </div>
    </div>
        
    <div class="modules fourklock">
        <ChangeModuleTile imageSrc={imageBrainyKids} title="Brainy Kids" subheading="KLASY II-III SP">
            Raj dla najmłodszych. Tutaj uczymy się podstaw angielskiego jednocześnie inspirując się codziennymi zachwytami.
        </ChangeModuleTile>
        <ChangeModuleTile imageSrc={imageTeensKids} title="Brainy Kids" subheading="KLASY II-III SP" >
            Kto powiedział, że zabawy nie można łączyć z ciężką nauką? A tak właśnie uczymy się najskuteczniej.
        </ChangeModuleTile>
        <ChangeModuleTile imageSrc={imageExamsKids} title="Brainy Kids" subheading="KLASY II-III SP" >
            Dla lubiących wyzwania. Poziom umiejętności nie gra roli – liczy się zawziętość i wytrwałość
        </ChangeModuleTile>
    </div>

    <div class="parents-corner">
        <h2 class="parent-header">

        </h2>
    </div>
</Layout>

<style>
.intro {
    padding: var(--padding-horizontal);
    padding-top: calc(2*3.75rem);
    display: flex;
    flex-direction: column;
    padding: var(--padding-horizontal);
    gap: var(--section-spacing);
    padding-bottom: 3.75rem;
}

.intro h2, .intro h3 {
    color: var(--primary);
    max-width: 54.6875rem;
    align-self: start;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    max-width: 54.6875rem;
    align-self: end;
    gap: var(--section-spacing);
    }
    
    @media only screen and (max-width: 40rem) {
        .intro-container {
            align-self: center;
            max-width: 100dvw;
        }
        .intro h2, .intro h3 {
            max-width: 100dvw;
        }        

        .intro-buttons {
            justify-content: space-between;
        }
}

.modules {
    padding: var(--padding-horizontal);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
</style>