---
// import ChangeModuleTile from "../components/ChangeModuleTile.astro";
import ChangeModules from "../components/ChangeModules.astro"
import ChangeParentsCorner from "../components/ChangeParentsCorner.astro"
import Layout from "../layouts/Layout.astro";

---
<Layout title="Modules">
    <div class="intro fourklock">
            <h2 class="desktop-display unset-margins">Witaj w Change - akademii rozwoju umiejętności językowych i społecznych.</h2>
            <h3 class="mobile-display unset-margins">Witaj w Change - akademii rozwoju umiejętności językowych i społecznych.</h3>
            <div class="intro-container">
                <p>
                    Tutaj słuchacze czują się wyjątkowi ucząc się angielskiego w domowej atmosferze, łącząc naukę języka z technikami oddychania i uważności. To miejsce, w którym program nauczania dostosowuje się do dziecka, a nie dziecko do programu. Uczymy bez podręczników, skupiając się na praktycznych umiejętnościach i naturalnym rozwoju. Spotykamy się raz w tygodniu, co pozwala na harmonijny rozwój bez przeciążania. Założona 20 lat temu z myślą o naszych własnych dzieciach, akademia nieustannie rozwija swoją wizję, aby zapewnić indywidualne podejście do każdego ucznia i wspierać jego językowy oraz społeczny rozwój. Tutaj towarzyszymy w nauce i dmuchamy w skrzydła.
                </p>
            </div>
    </div>

    <div class="modules fourklock">
        <ChangeModules />
    </div>

    <div class="parents-corner fourklock">
        <ChangeParentsCorner/>
    </div>
</Layout>

<style>
.intro {
    padding: var(--padding-horizontal);
    margin-top: var(--page-padding-top);
    display: flex;
    flex-direction: column;
    padding: var(--padding-horizontal);
    gap: var(--section-spacing);
    padding-bottom: 3.75rem;
}

.intro h2, .intro h3 {
    color: var(--primary);
    max-width: 54.6875rem;
    align-self: start;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    max-width: 54.6875rem;
    align-self: end;
    gap: var(--section-spacing);
}
.modules {
    padding: var(--padding-horizontal);
}

.parents-corner {
    padding: var(--padding-horizontal);
}
    
@media only screen and (max-width: 40rem) {
    .intro-container {
        align-self: center;
        max-width: 100dvw;
    }
    .intro h2, .intro h3 {
        max-width: 100dvw;
    }        
    .intro-buttons {
        justify-content: space-between;
    }
}
</style>
