---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Polityka Prywatności">

<div class="main fourklock">
<div class="section">

    <h1 class="primary">
        Polityka prywatności
    </h1>
</div>
<div class="section">

<h3>
    I. Postanowienia ogólne
</h3>    
<p>
    Polityka prywatności określa, jak zbierane, przetwarzane i przechowywane są dane osobowe Użytkowników niezbędne do świadczenia usług drogą elektroniczną za pośrednictwem serwisu internetowego change.edu.pl (dalej: Serwis). <br>
    Serwis zbiera wyłącznie dane osobowe niezbędne do świadczenia i rozwoju usług w nim oferowanych. <br>
    Dane osobowe zbierane za pośrednictwem Serwisu są przetwarzane zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych, dalej RODO) oraz ustawą o ochronie      danych osobowych z dnia 10 maja 2018 r. <br>
</p>
</div>
<div class="section">
    <h3>
II. Administrator danych
</h3>
<p>
    Administratorem danych osobowych zbieranych poprzez Serwis jest Akademia Rozwoju Umiejętności Językowych i Społecznych Change Agnieszka Saramowicz-Garstecka, adres: ul. Kasprowicza 6/2, 87-100 Toruń, NIP: 9561354013, REGON: 870347454, adres poczty elektronicznej: change.torun@gmail.com (dalej: Administrator).
</p>

</div>
<div class="section">
    <h3>
III. Cel zbierania danych osobowych
</h3>
<p>
    Dane osobowe wykorzystywane są      w celu: <br>
    realizacji umowy dotyczącej       usług i e-usług, <br>
    komunikacji z Użytkownikiem (formularz       kontaktowy) po wyrażeniu zgody Użytkownika na przetwarzanie danych, <br>
    promocji oferty       Administratora, <br>
    marketingu, remarketingu,       afiliacji, <br>
    personalizacji Serwisu dla       Użytkowników, <br>
    działań analitycznych i       statystycznych, <br>
    windykacji należności, <br>
    ustalenia i dochodzenia       roszczeń albo obrony przed nimi. <br>
    Podanie danych jest dobrowolne,      ale niezbędne do zawarcia umowy albo skorzystania z innych funkcjonalności      Serwisu. <br>
</p>
</div>
<div class="section">
    <h3>
    IV. Rodzaj przetwarzanych danych osobowych
</h3>
<p>
    Administrator może przetwarzać dane osobowe Użytkownika: imię i nazwisko, adres e-mail, numer telefonu.
</p>

</div>
<div class="section">
    <h3>
    V. Okres przetwarzania danych osobowych
</h3>
<p>
    Dane osobowe Użytkowników będą przetwarzane przez okres: <br>
    gdy podstawą przetwarzania      danych jest wykonanie umowy – do momentu przedawnienia roszczeń po jej      wykonaniu, <br>
    gdy podstawą przetwarzania      danych jest zgoda – do momentu jej odwołania, a po odwołaniu zgody do      przedawnienia roszczeń. <br>
    W obu przypadkach termin przedawnienia wynosi 6 lat, a dla roszczeń o świadczenia okresowe i roszczeń dotyczących prowadzenia działalności gospodarczej – 3 lata (jeśli przepis szczególny nie stanowi inaczej). <br>
</p>

</div>
<div class="section">
    <h3>
    VI. Udostępnianie danych osobowych
</h3>
<p>
    Dane osobowe Użytkowników mogą      być przekazywane: podmiotom powiązanym z Administratorem, jego      podwykonawcom, podmiotom współpracującym z Administratorem np. firmom      obsługującym e-płatności, firmom świadczącym usługi kurierskie/pocztowe,      kancelariom prawnym. <br>
    Dane osobowe Użytkowników nie będą      przekazywane poza teren Europejskiego Obszaru Gospodarczego (EOG). <br>
</p>

</div>
<div class="section">
    <h3>
    VII. Prawa Użytkowników
</h3>
<p>
    Użytkownik Serwisu ma prawo do:      wniesienia sprzeciwu wobec przetwarzania, cofnięcia zgody w każdej chwili      (co nie ma wpływu na zgodność z prawem przetwarzania dokonanego w      oparciu o zgodę przed jej cofnięciem). <br>
    Zgłoszenie o wystąpieniu przez      Użytkownika z uprawnieniem wynikającym z wymienionych praw      należy przesłać na adres change.torun@gmail.com. <br>
    Administrator spełnia lub      odmawia spełnienia żądania niezwłocznie – maksymalnie w ciągu      miesiąca od jego otrzymania. <br>
    Użytkownik ma prawo złożyć      skargę do Prezesa Urzędu Ochrony Danych Osobowych, jeśli uzna, że      przetwarzanie narusza jego prawa i wolności (RODO). <br>
</p>

</div>
<div class="section">
    <h3>
    VIII. Pliki cookies
</h3>
<p>
    Serwis zbiera informacje za      pomocą plików cookies – sesyjnych, stałych i podmiotów zewnętrznych. <br>
    Zbieranie plików cookies      wspiera poprawne świadczenie usług w Serwisie i służy celom statystycznym. <br>
    Użytkownik może określić zakres      dostępu plików cookies do swojego urządzenia w ustawieniach przeglądarki. <br>
</p>

</div>
<div class="section">
    <h3>
    IX. Zautomatyzowane podejmowanie decyzji i profilowanie
</h3>
<p>
    Dane Użytkowników nie mogą      być przetwarzane w zautomatyzowany sposób tak, że na skutek tego      mogłyby zapaść wobec nich jakiekolwiek decyzje. <br>
    Dane Użytkowników mogą być      profilowane celem dostosowania treści i personalizacji oferty po wyrażeniu      przez nich zgody. <br>
</p>
    
</div>
<div class="section">
    <h3>
    X. Postanowienia końcowe
</h3>
<p>
    Administrator ma prawo do      wprowadzenia zmian w Polityce prywatności, przy czym prawa Użytkowników      nie zostaną ograniczone. <br>
    Informacja o wprowadzonych      zmianach pojawi się w formie komunikatu dostępnego w Serwisie. <br>
    W sprawach nieuregulowanych w      niniejszej Polityce prywatności obowiązują przepisy RODO i przepisy prawa      polskiego. <br>
</p>
</div>

<div class="section">
    <h1 class="primary">Standardy ochrony małoletnich</h1>

    <a class="download-btn" href="/" target="_blank">
        <p class="btn-label">
            Pobierz dokument
        </p>
        <div class="btn-icon">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12L3 7L4.4 5.55L7 8.15L7 0L9 0V8.15L11.6 5.55L13 7L8 12ZM0 16L0 11H2V14H14V11L16 11V16H0Z" fill="#535E6B"/>
            </svg>
        </div>
    </a>
</div>
</div>
</Layout>

<style>
h3, h1, p {
    margin: 0;
    padding: 0;
}

.download-btn {
    text-decoration: none;
    max-width: 26.8125rem;
    gap: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--box-vertical-padding) var(--box-horizontal-padding);
    background-color: var(--white3);
    border-radius: 1.25rem;
}

.btn-icon svg {
    justify-self: center;
    width: 1rem;
    height: 1rem;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--primary);
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.75rem;
    border-radius: 64rem;
}

.main {
    padding: var(--page-padding-top) var(--padding-horizontal) var(--section-spacing) var(--padding-horizontal);
    display: flex;
    flex-direction: column;
    gap: var(--section-spacing);
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);
}
</style>