---
//import ChangeAttractionTile from "../components/ChangeAttractionTile.astro"
//import ChangeDevelopmentTile from "../components/ChangeDevelopmentTile.astro"
//import ChangeInfoTile from "../components/ChangeInfoTile.astro"
import ChangeNav from "../components/ChangeNav.astro"
import Layout from "../layouts/Layout.astro"
---

<!-- <title>Testing</title> -->
<Layout title="Testing">
    <ChangeNav/>
<div class="testing_elements">


<!-- <h1>Header 1</h1> -->
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<!-- <h5>Header 5</h5> -->
<!-- <h6>Header 6</h6> -->

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quisquam a est recusandae unde impedit, quam rem delectus nihil saepe quis dicta accusantium provident minima, soluta facilis debitis dignissimos suscipit!</p>

<a class="btn">Button</a> 
<a class="btn ele">Button</a> 
<a class="btn out">Button</a> 
<a class="btn out ele">Button</a> 
<a class="btn-ul">Button</a>
<div class="horizontal">
    <a href="#" class="btn round icon social">
        <span class="material-symbols-outlined">
            home
        </span>
    </a>
</div>
<div class="horizontal">
    <a href="#" class="btn round icon">
        <span class="material-symbols-outlined">
            add
        </span>
    </a>
    <a href="#" class="btn round icon">
        <span class="material-symbols-outlined">
            remove
        </span>
    </a>
</div>

<div class="horizontal">
    <a href="#" class="btn round icon nav">
        <span class="material-symbols-outlined">
            arrow_forward
        </span>
    </a>
    <a href="#" class="btn round icon nav">
        <span class="material-symbols-outlined">
            arrow_forward
        </span>
    </a>
    <a href="#" class="btn round icon nav big">
        <span class="material-symbols-outlined">
            arrow_forward
        </span>
    </a>
    <a href="#" class="btn round icon nav big">
        <span class="material-symbols-outlined">
            arrow_forward
        </span>
    </a>
    <a href="#" class="btn round icon nav alt">
        <span class="material-symbols-outlined">
            arrow_forward
        </span>
    </a>
    <a href="#" class="btn round icon nav alt">
        <span class="material-symbols-outlined">
            arrow_forward
        </span>
    </a>
</div>

<a class="btn icon-btn">
    Button
<span class="material-symbols-outlined">
    arrow_forward
</span>
</a>
<a class="btn out icon-btn">
    Button
<span class="material-symbols-outlined">
    arrow_forward
</span>
</a> 
<a class="btn-ul icon-btn">
    Button
<span class="material-symbols-outlined">
    arrow_forward
</span>
</a> 
<!-- <ChangeAttractionTile icon="schedule" title="Warzywniak"/> -->
<!-- <ChangeInfoTile icon="schedule" title="Przedział wiekowy" subheading="klasy IV-VII SP"/> -->
<!-- <ChangeInfoTile icon="schedule" title="Przedział wiekowy" subheading="klasy IV-VII SP" additional="(w zależności od osób)"/> -->
<!-- <ChangeDevelopmentTile title="FRIS" desc="Odkryj z nami swój styl myślenia i styl działania podczas sesji rozwojowej prowadzonej przez certyfikowanego trenera Modelu FRIS®." buttonText="Skontaktuj się z nami" buttonLink="#"/> -->
<!-- <ChangeDevelopmentTile title="FRIS" desc="Odkryj z nami swój styl myślenia i styl działania podczas sesji rozwojowej prowadzonej przez certyfikowanego trenera Modelu FRIS®." buttonText="Skontaktuj się z nami" buttonLink="#" aboutText="Więcej o FRIS" aboutLink="#"/> -->
</div>

<style>
body {
    background-color: black;
}

.testing_elements {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
}
</style>
</Layout>
