---
import Image from "astro/components/Image.astro";
import photoCarouselOne from "../images/photoCarouselOne.jpg"
import photoCarouselTwo from "../images/photoCarouselTwo.jpg"
import photoCarouselThree from "../images/photoCarouselThree.jpg"
import photoCarouselFour from "../images/photoCarouselFour.jpg"
---

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <Image class="gallery-image" src={photoCarouselOne} alt="biuro"/>
        </div>
        <div class="swiper-slide">
            <Image class="gallery-image" src={photoCarouselTwo} alt="biuro"/>
        </div>
        <div class="swiper-slide">
            <Image class="gallery-image" src={photoCarouselThree} alt="biuro"/>
        </div>
        <div class="swiper-slide">
        <Image class="gallery-image" src={photoCarouselFour} alt="biuro"/>
        </div>
    </div>
    <div class="pagination-and-navigation">
        <div class="swiper-pagination"></div>

        <div class="navigation-buttons">

            <div class="swiper-button-prev">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20C1 9.50659 9.50659 0.999997 20 0.999998C30.4934 0.999999 39 9.50659 39 20Z" fill="#F2F4FA"/>
                    <path d="M39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20C1 9.50659 9.50659 0.999997 20 0.999998C30.4934 0.999999 39 9.50659 39 20Z" stroke="#39A2F1" stroke-width="2"/>
                    <path d="M29 18.8636L29 21.1364L15.3636 21.1364L21.6136 27.3864L20 29L11 20L20 11L21.6136 12.6136L15.3636 18.8636L29 18.8636Z" fill="#535E6B"/>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 20C1 9.50659 9.50659 1 20 1C30.4934 1 39 9.50659 39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20Z" fill="#F2F4FA"/>
                    <path d="M1 20C1 9.50659 9.50659 1 20 1C30.4934 1 39 9.50659 39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20Z" stroke="#39A2F1" stroke-width="2"/>
                    <path d="M11 21.1364L11 18.8636L24.6364 18.8636L18.3864 12.6136L20 11L29 20L20 29L18.3864 27.3864L24.6364 21.1364L11 21.1364Z" fill="#535E6B"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<script>
import Swiper from 'swiper';
import { Navigation, Pagination } from 'swiper/modules';

import 'swiper/css';
// import 'swiper/css/pagination'
// import 'swiper/css/navigation';

// const swiper = new Swiper(".mySwiper", {
//   slidesPerView: "auto",
//   loop: true,
//   // Navigation arrows
//   navigation: {
//     nextEl: ".swiper-button-next",
//     prevEl: ".swiper-button-prev"
//   }
// });

  var swiper = new Swiper(".mySwiper", {
    modules: [Navigation, Pagination],
    direction: 'horizontal',
    navigation: {
        prevEl: ".swiper-button-prev",
        nextEl: ".swiper-button-next",
    },
    centeredSlides: true,
//   slidesPerView: 1,
    grabCursor: true,
    // freeMode: false,
    loop: true,
    mousewheel: false,
    keyboard: {
        enabled: true
    },
    allowSlidePrev: true,
    allowSlideNext: true,
    spaceBetween: 30,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    });
  </script>

<style>
    .swiper {
        margin-top: var(--separator-xl);
        width: 100%;
        height: fit-content;
    }

    .gallery-image {
        border-radius: var(--corner-m);
        height: auto;
        width: 100%;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

     .pagination-and-navigation {
        margin-top: var(--separator-m);
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: var(--separator-m);
    }

    .navigation-buttons {
        display: flex;
        flex-direction: row;
        gap: var(--separator-s);
    }

    /* .swiper-pagination-bullet {
        width: 0.25rem;
        height: 0.25rem;
        flex-shrink: 0;
        border-radius: var(--Numbers-Corners-corner-s, 0.625rem);
        background: var(--text-primary, #535E6B);
    }

    .swiper-pagination-bullet:hover {
        background: var(--text-secondary);
        color: var(--text-secondary);
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: var(--Numbers-Corners-corner-m, 1.5rem) !important !important !important;
        height: var(--Numbers-Separators-separator-s, 0.5rem);
        flex-shrink: 0;
        border-radius: var(--Numbers-Corners-corner-s, 0.625rem);
        background: var(--Colours-Blue-BLUE-01, #39A2F1);
    } */

    @media only screen and (max-width: 40rem) {
     .pagination-and-navigation {
        justify-content: center;
     }
    }
</style>