---
interface Props {
    // icon: string,
    title: string,
    subheading: string,
    additional?: string
}

const { title, subheading, additional} = Astro.props
---
<div class="main">
    <div class="icon-container">
        <!-- <span class="material-symbols-outlined">
            {icon}
        </span> -->
        <slot/>
    </div>
    <div class="content">
        <p class="title">
            {title}
        </p>
        <div class="subheading">
            <p class="p-s">{subheading}</p>
            <p class="p-xs">{additional}</p>
        </div>
    </div>
</div>

<style>
span {
    font-size: 2.5rem;
    color: var(--primary);
}

.main {
    background-color: var(--white3);
    display: flex;
    padding: 2rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.50) inset, 52px 12px 39.7px 0px rgba(0, 0, 0, 0.10);
    border-radius: 1.5rem;
}

p {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    height: 3.3125rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.title {
    color: var(--black);
}

.subheading {
    display: inline-flex;
    align-items: center;
    gap: 0.31rem;
}

/* mobilka */
@media only screen and (max-width: 40rem) {
  .main {
    flex-direction: row;
    display: flex;
    padding: 1.5rem 1.5rem;
    align-items: center;
    gap: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
  }

  span {
    font-size: 1.875rem;
  }
}
</style>