---
import Image from 'astro/components/Image.astro'
import iphone1Image from "../images/iphoneStock1.png"
import iphone2Image from "../images/iphoneStock2.png"
---

<div class="bilboard">
    <div class="bilboard-content">
        <h2 class="bilboard-header primary">
            Zobacz, jak się uczymy
        </h2>
        <div class="bilboard-buttons">
            <div class="bilboard-icon-buttons">

                <a href="https://www.facebook.com/change.torun" class="btn round icon social out">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0C3.58933 0 0 3.58933 0 8C0 12.4107 3.58933 16 8 16C12.4107 16 16 12.4107 16 8C16 3.58933 12.4107 0 8 0ZM8 1.33333C11.69 1.33333 14.6667 4.31 14.6667 8C14.6683 9.59598 14.096 11.1393 13.0542 12.3484C12.0125 13.5575 10.5707 14.3517 8.992 14.586V9.944H10.8907L11.1887 8.01533H8.992V6.962C8.992 6.162 9.25533 5.45067 10.004 5.45067H11.2073V3.768C10.996 3.73933 10.5487 3.67733 9.70333 3.67733C7.938 3.67733 6.90333 4.60933 6.90333 6.73333V8.01533H5.08867V9.944H6.90333V14.5693C5.3465 14.3131 3.93149 13.5117 2.91113 12.3082C1.89076 11.1048 1.33153 9.57778 1.33333 8C1.33333 4.31 4.31 1.33333 8 1.33333Z" fill="#535E6B"/>
                    </svg>
                </a>
                <a href="https://www.instagram.com/akademia_change" class="btn round icon social out">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.64 0H11.36C13.92 0 16 2.08 16 4.64V11.36C16 12.5906 15.5111 13.7708 14.641 14.641C13.7708 15.5111 12.5906 16 11.36 16H4.64C2.08 16 0 13.92 0 11.36V4.64C0 3.4094 0.488856 2.22919 1.35902 1.35902C2.22919 0.488856 3.4094 0 4.64 0ZM4.48 1.6C3.71618 1.6 2.98364 1.90343 2.44353 2.44353C1.90343 2.98364 1.6 3.71618 1.6 4.48V11.52C1.6 13.112 2.888 14.4 4.48 14.4H11.52C12.2838 14.4 13.0164 14.0966 13.5565 13.5565C14.0966 13.0164 14.4 12.2838 14.4 11.52V4.48C14.4 2.888 13.112 1.6 11.52 1.6H4.48ZM12.2 2.8C12.4652 2.8 12.7196 2.90536 12.9071 3.09289C13.0946 3.28043 13.2 3.53478 13.2 3.8C13.2 4.06522 13.0946 4.31957 12.9071 4.50711C12.7196 4.69464 12.4652 4.8 12.2 4.8C11.9348 4.8 11.6804 4.69464 11.4929 4.50711C11.3054 4.31957 11.2 4.06522 11.2 3.8C11.2 3.53478 11.3054 3.28043 11.4929 3.09289C11.6804 2.90536 11.9348 2.8 12.2 2.8ZM8 4C9.06087 4 10.0783 4.42143 10.8284 5.17157C11.5786 5.92172 12 6.93913 12 8C12 9.06087 11.5786 10.0783 10.8284 10.8284C10.0783 11.5786 9.06087 12 8 12C6.93913 12 5.92172 11.5786 5.17157 10.8284C4.42143 10.0783 4 9.06087 4 8C4 6.93913 4.42143 5.92172 5.17157 5.17157C5.92172 4.42143 6.93913 4 8 4ZM8 5.6C7.36348 5.6 6.75303 5.85286 6.30294 6.30294C5.85286 6.75303 5.6 7.36348 5.6 8C5.6 8.63652 5.85286 9.24697 6.30294 9.69706C6.75303 10.1471 7.36348 10.4 8 10.4C8.63652 10.4 9.24697 10.1471 9.69706 9.69706C10.1471 9.24697 10.4 8.63652 10.4 8C10.4 7.36348 10.1471 6.75303 9.69706 6.30294C9.24697 5.85286 8.63652 5.6 8 5.6Z" fill="#535E6B"/>
                    </svg>
                </a>
            </div>
            <a href="faq" class="btn icon-btn out">
                Często zadawane pytania
                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.13125 7.55684L4.93125 11.7568L6 12.8068L12 6.80684L6 0.806839L4.93125 1.85684L9.13125 6.05684H0V7.55684H9.13125Z" fill="#EBECF2"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="bilboard-phones">
        <Image src={iphone1Image} alt="iphone"/>
        <Image src={iphone2Image} alt="iphone"/>
    </div>
</div>

<style>
.bilboard-content {
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.bilboard-header {
    padding: 0;
    margin: 0;
    margin-bottom: 2.5rem;
}

.bilboard-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.bilboard-buttons > a {
    font-size: 0.7rem;
}

.bilboard-icon-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--separator-s);
}

.bilboard {
    overflow: hidden;
    display: grid;
    background-color: var(--white3);
    border-radius: 3rem;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.50) inset, 52px 12px 39.7px 0px rgba(0, 0, 0, 0.10); 
    /* width: calc(100% - 2*var(--padding-horizontal)); */
    grid-template-columns: 1fr 1fr;
    padding: 2rem 2rem 0rem 2rem;
    background-image: url("/shapez.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.bilboard-phones {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100%;
    align-items: end;
    /* place-items: ; */
    padding: 0;
    margin: 0;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

img {
    margin: 0;
    width: 100%;
    height: auto;
    /* width: max-content; */
    /* width: fit-content; */
    /* object-fit: scale-down; */
    object-position: 100% 100%;
}

.bilboard-phones {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

@media only screen and (max-width: 60rem) {
    .bilboard {
        grid-template-columns: 1fr;
        gap: 1.875rem;
        background-position: bottom;
        background-image: url("/shapez_mobile.png");
    }

    .bilboard-content {
        margin-bottom: 0;
    }

    .bilboard-buttons {
        justify-content: center;
        align-items: center;
    }

    .bilboard-phones {
        padding-left: 0;
        padding-right: 0;
    }

    .bilboard-header {
        margin-top: 2rem;
    }

    h2 {
        text-align: center;
    }
}
</style>