---
import Image from 'astro/components/Image.astro'

interface Props {
    imageSrc: ImageMetadata,
    title: string,
    subheading: string,
}

const { imageSrc, title, subheading } = Astro.props;
---

<div class="swiper-slide card">
    <Image src={imageSrc} alt={title} />
    <div class="text">
        <h3>{title}</h3>
        <p>{subheading}</p>
        <p class="content"><slot/></p>
    </div>
</div>

<style>
.card {
    box-sizing: border-box;
    background: var(--white3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    /* width: 90%; */
    align-self: center;
    transition: all 0.5s;
    opacity: 0.6;
    overflow: hidden;
    padding: var(--box-vertical-padding) var(--box-horizontal-padding);
    /* height: 50%; */
    /* overflow: auto; */
}


.text {
    flex-grow: 1;
    /* flex-shrink: 0; */
    margin-left: var(--separator-l);
}

h3 {
    color: var(--primary);
    margin: 0;
}

p {
    color: var(--text-secondary);
    margin: 0;

}

.content {
    color: var(--text-primary);
    margin-top: 1rem;
}

img {
    height: 80%;
    max-width: 35%;
    /* width: max-content; */
    /* margin: var(--separator-l); */
    /* aspect-ratio: 1/1; */
    object-fit: scale-down;
    flex-grow: 0;
    flex-shrink: 1;
}

.card.swiper-slide-active {
    width: 100%;
    opacity: 1;
}

@media only screen and (max-width: 80rem) {
    img {
        display: none;
    }
    .text {
        margin-left: var(--separator-l);
    }
}

@media only screen and (max-width: 40rem) {
    .card {
        flex-direction: column;
    }
    .text {
        margin-left: 0;
        /* margin: 1.5rem; */
    }
    p {
    font-size: 0.875rem;

    }
    img {
        display: inline-block;
        max-height: 35%;
        /* height: fit-content; */
        /* object-fit: contain; */
        /* height: 35dvh; */
        max-width: 100%;
        /* max-height: 45%; */
        width: 100%;
        
    }
}
</style>